.full-width {
  margin-left: 16px;
  width: 40%;
}

.title {
  text-align: center;
}

.links {
  cursor: pointer;
}

.navigation-holder {
  width: 100%;
  padding-left: 16px;
}

.edit-button {
  position: absolute;
  right: 16px;
}
