<ng-container *ngIf="!edit else editting">
    <mat-card class="profile">
        <mat-card-header>
            <div mat-card-avatar style="background-image: url({{img}})" class="profile-header-image"></div>
            <mat-card-title>{{ username }}</mat-card-title>
            <mat-card-subtitle>Profile info</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content *ngIf="user">
            <mat-list>
                <mat-list-item *ngFor="let l of userDataLabels"> {{ l.label }} : {{ user[l.dbId] }}
                </mat-list-item>
            </mat-list>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="editData()">EDIT</button>
        </mat-card-actions>
    </mat-card>
</ng-container>
<ng-template #editting>
    <app-edit [user]="user" (saveEvent)="saveChanges($event)"></app-edit>
</ng-template>