<mat-card>
    <form *ngIf="articleForm" [formGroup]="articleForm">
        <mat-form-field class="full-width">
            <input matInput placeholder="Title" formControlName="title">
            <mat-error *ngIf="articleForm.controls.title.hasError('required')">
                Required!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Context" formControlName="context" cdkTextareaAutosize></textarea>
            <mat-error *ngIf="articleForm.controls.context.hasError('required')">
                Required!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Choose a language</mat-label>
            <mat-select formControlName="lang_id">
                <mat-option *ngFor="let opt of langList" [value]="opt">{{ opt }}</mat-option>
            </mat-select>
            <mat-error *ngIf="articleForm.controls.lang_id.hasError('required')">
                Required!
            </mat-error>
        </mat-form-field>

        <mat-card-actions align="end">
            <button mat-button (click)="router.navigate(['/articles'])">CANCEL</button>
            <div style="flex: auto;"></div>
            <button mat-raised-button color="primary" [disabled]="articleForm.invalid||articleForm.pristine" (click)="submit()">Submit</button>
        </mat-card-actions>
    </form>

</mat-card>